<div class="container">

  <form [formGroup]="loginForm" (submit)="login()">
    <h1 style="align-content: center; color:silver;">Login to start shopping!</h1><br/>
      <div class="form-group required">
        <div class="col-md-6">
        <label class="control-label" for="formControlusername"><b>UserName</b></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-at"></i></span>
          </div>
          <input formControlName="username"  type="text" class="form-control" aria-label="username"
          placeholder = "Enter email address"aria-describedby="username" />
        </div>
          <div class="errorMessage text-danger"></div>
        </div>
      </div>
      <div class="form-group required">
        <div class="col-md-6">
        <label class="control-label" for="formControlpassword"><b>Password</b></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input formControlName="password"  type="password" class="form-control" arial-label="password"
            placeholder = "Enter password"areal-describedby="password" />
            </div>
          </div>
      </div>
    <div class="col-md-4 justify-content-center offset-sm-1">
    <div class="form-group" style="margin-left: 30px;">
      <button type="submit" class="btn btn-success" [disabled] = "!loginForm.valid"
        style="display: block; width:80%;">Login</button>
    </div>
    </div>
  </form>
</div>
